html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.logo{
    width: 40px;
    margin: auto;
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
}

.filtromunicipios{
    position: fixed;
    top: 80%;
    z-index: 2;
    left: 2%;
    width: 50%;

}