html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.logo{
    width: 40px;
    margin: auto;
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 50%;
}

hr{
    border: solid 1px rgb(241, 241, 241);
}

.filtromunicipios{
    position: fixed;
    top: 70%;
    z-index: 1;
    left: 1%;
    width: 240px;
    font-size: 14px;
    padding: 16px;

}

.btn-check{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

h2{
    margin-block-end: 0px;
    padding-bottom: 0;
    margin-bottom: 0 !important;
}

.escala_UAF{
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 20%;
    display: flex;
    width: 60%;
    font-size: 11px;
}

#escala_colores{
    display: none;
}


/*UFH por color*/

.uno_ufh{
    background: #4E4B87;
    color: white;
    width: 7.69%;
    text-align: center;
}

.dos_ufh{
    background: #0C6097;
    color: white;
    width: 7.69%;
    text-align: center;
}

.tres_ufh{
    background: #2D95C0;
    color: white;
    width: 7.69%;
    text-align: center;
}

.cuatro_ufh{
    background: #99C1D4;
    color: black;
    width: 7.69%;
    text-align: center;
}

.cinco_ufh{
    background: #1A6B42;
    color: white;
    width: 7.69%;
    text-align: center;
}

.seis_ufh{
    background: #5CAA84;
    color: white;
    width: 7.69%;
    text-align: center;
}

.siete_ufh{
    background: #ADBA3E;
    color: black;
    width: 7.69%;
    text-align: center;
}

.ocho_ufh{
    background: #F6E5A9;
    color: black;
    width: 7.69%;
    text-align: center;
}

.nueve_ufh{
    background: #F1D674;
    color: black;
    width: 7.69%;
    text-align: center;
}

.diez_ufh{
    background: #FB8148;
    color: white;
    width: 7.69%;
    text-align: center;
}

.once_ufh{
    background: #FB77A9;
    color: white;
    width: 7.69%;
    text-align: center;
}

.doce_ufh{
    background: #8B4841;
    color: white;
    width: 7.69%;
    text-align: center;
}

.trece_ufh{
    background: #57524F;
    color: white;
    width: 7.69%;
    text-align: center;
}

/*botones popup*/
.btn{
    
    padding: 4px;
    border-radius: 4px;
}

.cardName{
    background-size:cover; 
    height:150px;
    display: flex;
    align-items: flex-end;
    padding: 16px;

}
@media print {
    body{
        margin: 0;
        width: 100%;
        transform: scale(1);
    }
    /* Estilos de impresión personalizados */
    .esri-search, .navbar-toggler, .filtromunicipios, .esri-zoom {
      display: none; /* Oculta elementos con la clase 'no-print' */
    }

  }

@media only screen and (max-width: 600px) {

    .escala_UAF{
        position: absolute;
        z-index: 1;
        height: 41px;
        top: 83%;
        left: 3%;
        display: flex;
        width: 94%;
        font-size: 11px;
    }

    .filtromunicipios{
        position: fixed;
        top: 7%;
        z-index: 1;
        left: 3%;
        width: 100%;
        font-size: 12px;
        padding: 4px;
    
    }


    .logo{
        width: 40px;
        margin: auto;
        display: flex;
        position: absolute;
        z-index: 1;
        bottom: 5%;
        left: 45%;
    }
}